#btd-lock-overlay {
  position: fixed !important;
  color: yellow !important;
  text-align: center !important;
  font-size: xx-large !important;
  top: 0 !important;
  left: 0 !important;
  height: 100% !important;
  width: 100% !important;
  /* z-index: 2,147,483,646; */
  z-index: 2000000000 !important;
  background-color: rgba(175,229,219,0.7) !important;
}



#btd-lock-container {
  position: fixed !important;
  /* z-index: 2,147,483,647; */
  z-index: 2000000001 !important;
  top: 0 !important;
  right: 0 !important;
  height: 100% !important;
  width: 50% !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  /* background-image:url('chrome-extension://lbllgpjmaghgcmjkoekcjgghjhanabnk/assets/icons/lock_icon.png') !important; */
  background-size: 35% !important;

}

#btd-lock-information-container {
  font-family: "GT Walsham Regular" !important;
  position: fixed !important;
  background-color: #ff5551 !important;
  color: #1E354C !important;
  /* z-index: 2,147,483,647; */
  z-index: 2000000001 !important;
  top: 0 !important;
  left: 0 !important;
  height: 100% !important;
  width: 50% !important;
  overflow-wrap: break-word !important;
  overflow-y:auto !important;
  line-height: normal !important;
  text-align: left !important;
}

#btd-lock-information{
  color: #1E354C !important;

  font-family: "GT Walsham Regular" !important;
  margin: 10% !important;

}

#btd-information-heading {
  color: #1E354C !important;

  font-family: "GT Walsham Black" !important;
  font-size: xx-large !important;  
  font-weight: bold !important;

}

#btd-information-sub-heading {
  padding-top: 5px !important;
  color: #1E354C !important;

  font-family: "GT Walsham Regular" !important;
  font-size: medium !important;
  /* padding-bottom: 10px !important;  */

}

#btd-information-resource-list{
  /* padding-top: 30px; */
  height: 130px !important;
  overflow-wrap: break-word !important;
  overflow-y: scroll !important;
  scroll-behavior: auto !important;
  border-bottom: 1px solid #1E354C !important;
  border-top: 1px solid #1E354C !important;
  color: #1E354C !important;

  padding-bottom: 30px !important;
  scrollbar-color:  #ff5551 !important;
}

#btd-information-resource-list p{
  color: #1E354C !important;
  font-size: medium !important;
  top: 0px !important;
  padding-bottom: 10px !important;
  
}



#btd-information-resource-list::-webkit-scrollbar {
  -webkit-appearance: none !important;
  width: 3px !important;
  height: 0px !important;
}

#btd-information-resource-list::-webkit-scrollbar-thumb {
  border-radius: 1px !important;
  background-color: #1E354C !important;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5) !important;
}

#btd-copy-data-button {
  background-color: #ff5551  !important;/* url('chrome-extension://lbllgpjmaghgcmjkoekcjgghjhanabnk/assets/icons/copy_clipboard.png') no-repeat left !important; */
  /* background-image: no-repeat left !important; */
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px!important;
  font-size: small !important;
  color: #1E354C !important;
  /* border-radius: 40px; */
  height: 60px !important;
  width: 240px !important;
  /* border: 1px solid #1E354C; */
  border: 0px !important;
  font-family: "Basis Mono", monospace !important;
}

#btd-copy-data-button:active {
  background: #1E354C !important;
}
#btd-copy-data-button:hover {
  background: #1E354C !important;
  color: #ff5551 !important;
  border: 1px solid #1E354C !important;
  border-radius: 3px !important; 
}

#btd-remove-button {
  background-color: #ff5551 !important;/*url('chrome-extension://lbllgpjmaghgcmjkoekcjgghjhanabnk/assets/icons/unlock_icon.png') no-repeat left !important; */
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px!important;
  font-size: small !important;
  color: #1E354C !important;
  /* border-radius: 40px; */
  height: 60px !important;
  width: 140px !important;
  /* border: 1px solid #1E354C; */
  border: 0px !important;
  font-family: "Basis Mono", monospace !important;
}
/* #btd-remove-button {
  font-size: small !important;
  color: #1E354C !important;
  background: #ff5551 !important;
  font-family: "Basis Mono", monospace !important;
  font-size: large !important;
  border: 0px !important;
  border: 1px solid #1E354C !important;
  border-radius: 3px !important; 

} */

#btd-remove-button:active {
  background: #1E354C !important;
}

#btd-remove-button:hover {
  background: #1E354C !important;
  color: #ff5551 !important;
  border: 1px solid #1E354C !important;
  border-radius: 3px !important; 
}


#btd-information-footer {
  font-family: "GT Walsham Black" !important;
  font-size: large !important;
  font-weight: bold !important;
  color: #1E354C !important;



}

.btd-information-table-heading{
  font-family: "GT Walsham Black" !important;
  margin-top: 15% !important;
  font-size: large !important;
  margin-bottom: 3%;
  color: #1E354C !important;

}

#btd-lock-table {
  display:flex !important;
  justify-content: left !important;
  align-items: center !important;
  /* height:100%; */
  background-color: #ff5551 !important;
  color: #1E354C !important;


}

.btd-packet-table {
  background-color: #ff5551 !important;
  font-family: "Basis Mono" !important;

  top: 0px !important;
  padding-top: 20px !important;
  color: #1E354C !important;
  /* width:350px !important; */
  border-collapse: collapse !important;
  width: 100%; 
  border-top: 0 !important;
  border: #1E354C !important;


}

.btd-packet-table  thead{
  background-color: #ff5551 !important;
  border-top: 0 !important;

}

.btd-packet-table  th{
  background-color: #ff5551 !important;
  border-color: #1E354C !important;
  border-style: none;
  font-family: "Basis Mono" !important;
  font-size: 9pt !important;
  text-align: left !important;

}
.btd-packet-table tr{
  background-color: #ff5551 !important;
  color: #1E354C !important;

    /* border: 1px solid #1E354C; */
  border-bottom: 1px solid #1E354C !important;

}
.btd-packet-table tr td{
    border-left: 1px solid #1E354C !important;
    border-bottom: 1px solid #1E354C !important;
    border-color: #1E354C !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 5px !important;
    font-size: 12pt !important;
    background-color: #ff5551 !important;
    color: #1E354C !important;
    font-family: "Basis Mono" !important;



}

.btd-packet-table tr td:first-child {
  border-left: 0 !important;
  border-top: 0 !important;
  padding-left: 0 !important;

}

.btd-packet-table tr td:last-child {
  border-right: 0 !important;
}

